<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>

    <div class="edit-profile-container">
        <h2>Edit Profile</h2>
        <form action="{% url 'edit_profile' %}" method="post">  <!-- Use Django's URL template tag -->
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div class="form-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
            <button type="submit" class="edit-profile-btn">Save Changes</button>
        </form>
        <div class="text-center">
            <p><a href="{% url 'profile' %}">Back to Profile</a></p>
        </div>
    </div>

</body>
</html>

